<div class="container px-4 text-left">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> text-rose-400 mb-4">
      <%= message %>
    </div>
  <% end %>

  <h1 class="text-xl font-bold text-slate-50 mb-4">
    <%= t('users.new.title') %>
  </h1>

  <%= form_with model: @user, local: true do |f| %>
    <div class="tracking-normal text-slate-50 mb-4">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "bg-gray-950 text-white border border-gray-500 rounded w-full p-2" %>
    </div>

    <div class="tracking-normal text-slate-50 mb-4">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "bg-gray-950 text-white border border-gray-500 rounded w-full p-2" %>
    </div>

    <div class="tracking-normal text-slate-50 mb-4">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "bg-gray-950 text-white border border-gray-500 rounded w-full p-2" %>
    </div>

    <div class="tracking-normal text-slate-50 mb-4">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "bg-gray-950 text-white border border-gray-500 rounded w-full p-2" %>
    </div>

    <div class="border border-gray-400 text-slate-50 rounded-sm p-1 inline-flex gap-1">
      <%= f.submit t('users.new.submit'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>