<header class="bg-gray-950">
  <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
    <h1 class="text-xl font-bold text-slate-50">
      <%= link_to "CodeChecker", root_path, class: "hover:text-slate-50" %>
    </h1>

    <nav class="space-x-4">
      <% if current_user %>
        <%= link_to t('views.header.my_page'), user_path(current_user), class: "text-orange-300 hover:text-slate-50 mr-7" %>
      <% end %>
        <%= link_to t('views.header.logout'), logout_path, method: :delete, class: "text-lime-300 hover:text-slate-50 mr-7" %>
        <%= link_to t('views.header.login'), login_path, class: "text-emerald-300 hover:text-slate-50 mr-7" %>
        <%= link_to t('views.header.new_user'), signup_path, class: "text-sky-300 hover:text-slate-50" %>
    </nav>
  </div>
</header>