<h1 class="text-xl font-bold text-slate-50"><%= t('problems.answer.title') %></h1>
<div class="text-slate-50">
  <p><%= @problem %></p>
  <p><%= @answer %></p>
  <p><%= @ai_answer %></p>
  <p><%= @result %></p>
</div>