<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || t("layouts.application.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Xツイート設定 -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="codechecker">
    <meta property="og:description" content="毎日AIが問題を出題する学習アプリ！">
    <!-- あとで本番URLで正しく書くこと！ -->
    <meta property="og:image" content="https://your-domain.com/codechecker.png">

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-950">
    <%= render "shared/header" %>

    <main class="font-light max-w-7xl px-4 py-3 justify-between">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
